.\WebApplication1\WebApplication1\obj
.\WebApplication1\WebApplication1\bin
.\EshopLoginManagment\EshopLoginManagment\EshopLoginManagment\obj
.\EshopLoginManagment\EshopLoginManagment\EshopLoginManagment\bin
.\Ashkandeliry_log.ldf
.\Ashkandeliry.mdf